In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import streamlit as st

In [ ]:
df = pd.read_csv('dataset/survey_results_public.csv')
df.head()

In [ ]:
df = df [["Country","EdLevel","YearsCodePro","Employment","ConvertedComp"]]
df = df.rename({'ConvertedComp':'Salary'}, axis=1)
df.head()

In [19]:
df = df[df["Salary"].notnull()]
df.head(20)

,Country,EdLevel,YearsCodePro,Employment,Salary
7,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",13,Employed full-time,116000.0
9,United Kingdom,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",4,Employed full-time,32315.0
10,United Kingdom,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2,Employed full-time,40070.0
11,Spain,Some college/university study without earning ...,7,Employed full-time,14268.0
12,Netherlands,"Secondary school (e.g. American high school, G...",20,Employed full-time,38916.0
13,United States,"Associate degree (A.A., A.S., etc.)",1,Employed full-time,66000.0
15,United Kingdom,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",23,"Independent contractor, freelancer, or self-em...",108576.0
16,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",3,Employed full-time,79000.0
17,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,Employed full-time,1260000.0
18,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",3,Employed full-time,83400.0
23,Germany,"Professional degree (JD, MD, etc.)",20,Employed full-time,91883.0
25,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",10,Employed full-time,71093.0
29,United Kingdom,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2,Employed full-time,38778.0
31,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",10,Employed full-time,31764.0
32,Belgium,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",14,Employed full-time,63564.0
35,United Kingdom,Some college/university study without earning ...,3,Employed full-time,77556.0
37,Italy,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,Employed full-time,97288.0
40,United States,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",20,Employed full-time,106000.0
41,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",10,Employed full-time,130000.0
42,United States,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",29,Employed full-time,135000.0

In [ ]:
df.info()

In [ ]:
df = df.dropna()
df.isnull().sum()

In [21]:
df = df[df["Employment"]=="Employed full-time"]
df = df.drop("Employment",axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30019 entries, 7 to 64154
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       30019 non-null  object
 1   EdLevel       30019 non-null  object
 2   YearsCodePro  30019 non-null  object
 3   Salary        30019 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.1+ MB